:global(:root) {
  --bright-pink: #f991cc;
  --bright-green: #10ffcb;
}

/* I probably wouldn't extract this in a real app, just testing mixin
functionality */
@define-mixin border {
  border: 0.5vh solid;
}

.app {
  @mixin border;

  border-color: #fbd87f;
  padding: 3rem;

  &:hover {
    border-color: var(--bright-green);
  }

  &:has(.button:active) {
    border-color: var(--bright-pink);
  }
}

.button {
  @mixin border;

  border-color: var(--bright-pink);
  border-radius: 0.25rem;
  padding: 0.5rem 1.5rem;

  &:active {
    border-color: var(--bright-green);
  }
}
